<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldz.park.dao.CarportMapper">
    <resultMap id="BaseResultMap" type="com.ldz.park.model.Carport">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>

    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from carport
    </select>

    <insert id="add">
        insert into carport(`number`,photo,description,gmt_create)
        value(#{carport.number},#{carport.photo},#{carport.description},#{carport.description},now())
    </insert>

    <update id="update">
        update carport set
          name = #{carport.name},
          number = #{carport.number},
          description = #{carport.description},
          gmt_modify = now()
        where id = #{carport.id}
    </update>

    <delete id="delete">
        delete from carport where id = #{param1}
    </delete>

</mapper>